#zonaJuego{
    width: 95vw;
    height: 70vh;
    
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tiktaktoe{
    min-height: 500px;
    aspect-ratio: 1;
    height: inherit;
    width: auto;
    border: 2px dotted black;
    
    display: grid;
    justify-content: center;

    grid-template: 20% 20% 20% 20% 20%
                 / 20% 20% 20% 20% 20%;
    grid-template-areas:
    'P1 P1 . . .'
    '. A1 A2 A3 .'
    '. B1 B2 B3 .'
    '. C1 C2 C3 .'
    '. . . P2 P2'
    ;
}

.casilla{
    min-height: 100px;
    min-width: 100px;

    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: cell!important;

    font-size: 8rem;
    font-family: inherit;
    color: transparent;

    /* background-color: rgb(240,240,240); */
    background-color: #f0f0f080 ;

    border: 4px solid black;

    outline-style: solid!important;
    outline-color: black!important;
    outline-width: 2px!important;
}

/*
  1 2 3 4 5
A _|_|_|_|_
B _|_|_|_|_
C _|_|_|_|_
D _|_|_|_|_
E  | | | | 
*/
/* Clase para agrandar al ganador */
.winner{
    height: 100%;
    grid-row: 1 / span 5 !important;
    grid-column: 1 / span 5 !important;
}
/* Clase para ocultar cosas */
.oculto{
    display: none !important;
}

.A1{
    grid-area: A1;
}

.A2{
    grid-area: A2;
}

.A3{
    grid-area: A3;
}

.B1{
    grid-area: B1;
}

.B2{
    grid-area: B2;
}

.B3{
    grid-area: B3;
}

.C1{
    grid-area: C1;
}

.C2{
    grid-area: C2;
}

.C3{
    grid-area: C3;
}

#player1{
    grid-area: P1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    &>img{
        height: 100%;
        width: auto;
        filter: drop-shadow(-3px -2px lightblue);
    }
}

#player2{
    grid-area: P2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    &>img{
        height: 100%;
        width: auto;
        transform: scaleX(-1);
        filter: drop-shadow(-4px 4px lightblue);
    }
}

#resetZone{
    width: 100%;
    margin: 0 auto;
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
}

#btnReset{
    height:fit-content;
    width:fit-content;
    padding: 0.25rem 1rem;
    font-size: 4rem;
    font-family: inherit;
}