:root{
    font-size: 62.5%;
}

html{
    min-width: 365px;
    height:100vh;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* para que el color de gradiente texto haga un ciclo */
/* REHACER ESTA POQUERÍA */
@keyframes background-pan{
    from{
        background-position: 0% center;
    }
    to{
        background-position: -200% center;
    }
}

@font-face{
    font-family: 'Saiyan';
    src: url('../font/Saiyan-Sans.ttf')
        format('truetype');
}

body{
    position: fixed;
    inset:0;
    background-position:center;
    background-size:cover;
    font-family:Saiyan;
    backdrop-filter: blur(10px);
}

header{
    margin:2rem 0;
/*    background-image: url(
        "../images/2_5D.gif"
    );
*/
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

h1{
    font-size: 5rem;
    text-align: center;
}

h2{
    font-size: 0rem;
    color: yellow;
    -webkit-text-stroke-color : rgb(0, 0, 0);
    -webkit-text-stroke-width : 1.75px;
}

.tituloHeader{
    /* animación del color de texto tiempo 's' (segundos) */
/*    animation: background-pan 10000ms linear infinite;
    /* colores para la gradiente de texto */
    background: linear-gradient(
        to right,
        red,
        yellow,
        red
    );
    background-size: 100%;

    background-clip: text;
    -webkit-background-clip: text;
    
    /* Color de Letra */
    -webkit-text-fill-color:#0000;
    /* Color del Borde de letra */
    -webkit-text-stroke-color:rgb(0, 0, 0);
    -webkit-text-stroke-width: 0.75px;

    filter: drop-shadow(0px 10px 15px rgb(255, 255, 255));
    text-shadow:                   
             0px 0px 10px rgba(255, 255, 255, 0.5);


}

#personajes{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 70vh;
    border: 5px dotted black;

    &>figure{
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        &:hover::before{
            opacity: 0.25;
            background-image: url("https://assets.codepen.io/13471/sparkles.gif");
            content: "";
            position: absolute;
            inset:0;
            box-shadow: inset 0px 0px 20px 5px white;
        }
        
        &:hover>.personaje{
            filter: drop-shadow(10px 10px 2.5px black);
            background-image: url("../images/destelloAzul.png");
            background-position:center;
            background-repeat: no-repeat;
            background-size: contain;
            height: 100%;
            
            &+figcaption>h2{
                font-size: 5rem;
            }
        }
    }
}

.personaje{
    height: 90%;
    width: auto;
    max-height: 100%;
    filter: grayscale(100%) opacity(40%);
    transition: 350ms ease-in;
}

.nombrePersonaje{
    font-size: 0px;
    position: absolute;
    transition: 250ms ease-in;
}

/* Cheat Codes de Efectos */
/*{*/
    /* filter: grayscale(100%); */
    /* filter: blur(5px); */
    /* filter: brightness(0.4); */
    /* filter: contrast(200%); */
    /* filter: drop-shadow(16px 16px 20px blue); */
    /* filter: hue-rotate(90deg); */
    /* filter: invert(75%); */
    /* filter: opacity(50%); */
    /* filter: saturate(30%); */
    /* filter: sepia(60%); */
    /* transform: scaleX(-1); */
/*}*/

.footer{
    position: fixed;
    bottom:0;
    right:2%;
    left:2%;

    min-height: 1rem;
    height: 4vh;

    background-color:rgba(91, 78, 78, 0.18);

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: end;


    &>.disclaimer{
        font-size: 0rem;
        left: 0;
    }

    & img{
        height:100%;
        width: auto;
    }
}