:root{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 10px;
    min-width: 365px;
}
/* para que el color de gradiente texto haga un ciclo */
@keyframes background-pan{
    from{
        background-position: 0% center;
    }
    to{
        background-position: -200% center;
    }
}
@font-face {
    font-family: 'Saiyan';
    src: url('../font/Saiyan-Sans.ttf')
        format('truetype');
    font-style: normal;
    font-weight: normal;
}

body{
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Saiyan;
    padding-bottom: 10vh;
    height: 100vh;
    width: 100vw;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);

}

header{
    background-image: url(
        "../images/2_5D.gif"
    );
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

h1{
    font-size: 5rem;
    text-align: center;
}

h2{
    font-size: "1.875rem";
}

.titulo{
    /* animación del color de texto tiempo 's' (segundos) */
    animation: background-pan 1000ms linear infinite;
    /* colores para la gradiente de texto */
    background: linear-gradient(
        to right,
        red,
        yellow,
        orange,
        yellow,
        red
    );
    background-size: 200%;
    background-clip: initial;
    -webkit-background-clip: text;
    /* Color de Letra */
    -webkit-text-fill-color: transparent;
    /* Color del Borde de letra */
    -webkit-text-stroke-color:rgb(0, 0, 0);
    -webkit-text-stroke-width: 0.75px;

    filter: drop-shadow(0px 10px 15px rgb(255, 255, 255));

    text-shadow:                   
             1px -1px 50px rgba(255, 255, 255, 0.5),
            -1px  1px 50px rgba(255, 255, 255, 0.5),
            -1px -1px 50px rgba(255, 255, 255, 0.5);


}

#personajes{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content:space-evenly;
}

#personajes figure{
    max-width: 100%;
    max-height: 70vh;
}

figure figcaption h2{
    font-size: 0px;
}

.personaje{
    width: 90%;
    max-height: inherit;
    filter: grayscale(100%) opacity(40%);
    align-self: center;
}

figure figcaption{
    text-align: left;
}

.personaje:hover{
    /* filter: drop-shadow(10px 10px 0px rgb(121, 115, 115)); */
    filter: drop-shadow(10px 10px 2.5px black);
    border: 3px double black;
    background-color: rgba(255, 255, 255, 0.3);
    
    background-image:
        url("../images/destelloAzul.png");
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: contain;
}
/* Cheat Codes de Efectos */
{
    /* filter: grayscale(100%); */
    /* filter: blur(5px); */
    /* filter: brightness(0.4); */
    /* filter: contrast(200%); */
    /* filter: drop-shadow(16px 16px 20px blue); */
    /* filter: hue-rotate(90deg); */
    /* filter: invert(75%); */
    /* filter: opacity(50%); */
    /* filter: saturate(30%); */
    /* filter: sepia(60%); */
    /* transform: scaleX(-1); */
}

.tiktaktoe{
    margin: 0 5%;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(5, 100px);
    border: 2px dotted black;
    min-width: 365px;
}

.casilla{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    font-size: 8rem;

    color: transparent;
}

/*
  1 2 3 4 5
A _|_|_|_|_
B _|_|_|_|_
C _|_|_|_|_
D _|_|_|_|_
E  | | | | 
*/
/* Clase para agrandar al ganador */
.winner{
    grid-row: 1 / span 5 !important;
    grid-column: 1 / span 5 !important;
/*    grid-row: 1 !important;
    grid-column:3 !important;
*/
}
/* Clase para ocultar cosas */
.oculto{
    display: none !important;
}

.B2{
    grid-row: 2;
    grid-column: 2;
}

.B3{
    grid-row: 2;
    grid-column: 3;
}

.B4{
    grid-row: 2;
    grid-column: 4;
}

.C2{
    grid-row: 3;
    grid-column: 2;
}

.C3{
    grid-row: 3;
    grid-column: 3;
}

.C4{
    grid-row: 3;
    grid-column: 4;
}

.D2{
    grid-row: 4;
    grid-column: 2;
}

.D3{
    grid-row: 4;
    grid-column: 3;
}

.D4{
    grid-row: 4;
    grid-column: 4;
}

#player1{
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
    display: flex;
    justify-content: center;
}

#player1 img{
    width: auto;
    height: 100%;
    filter: drop-shadow(-3px -2px lightblue);
}

#player2{
    grid-row: 5;
    grid-column: 4 / span 2;
    display: flex;
    justify-content: center;
}

#player2 img{
    width: auto;
    height: 100%;
    filter: drop-shadow(4px 2px lightblue);
}

#resetZone{
    margin: 0 auto;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

#btnReset{
    width: 20rem;
    height: 6rem;
    font-size: 4rem;
}

footer{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 5%;
    
    min-height: 1rem;
    height: 4vh;

    background-color:rgba(91, 78, 78, 0.18);

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: end;
}

.disclaimer{
    font-size: 0rem;
    left: 0;
}

a img{
    height:100%;
    width: auto;
}