*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

body{
    background-color: black;
}

.titulo{
    width: 100%;
    height: fit-content;
    margin: 0 auto;
    font-family: Saiyan;
    color: red;
    text-align: center;
    background-color: yellow;
    border-radius: 50px;
    border: 15px orange dotted;
}

figure{
    width: 33%;
    text-align: center;
}

figure img{
    object-fit:scale-down;
    width: 90%;
    height: 90%;
}

footer{
    width: 100%;
    height: fit-content;
    text-align: right;
    background-color: yellow;
    margin: 0 auto;
}

#linea{
    display: flex;
    justify-content: center;
    background-color: green;
    width: 100%;
}

#gamezone{
    width: 100%;
    height: fit-content;
    justify-content: center;
    color: white;
    background-color: rgb(211, 143, 17);
}

lineasdejuego{
    width: 100%;
}

button{
    height: 33%;
    width: 33%;
    background-color: whitesmoke;
    cursor: pointer;
    box-shadow: 1px 1px 0px 0px, 2px 2px;
}

#player{
    width: 100%;
    display: block;
    text-align: center;
    margin: auto 0;
    justify-content: center;
}

player1{
    background-color: blue;
}

player2{
    background-color: orchid;
}

#reset{
    display: flex;
    justify-content: center;
}

@font-face {
    font-family: 'Saiyan';
    src: url('./font/Saiyan-Sans.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
