.titulo div{
    font-size: 3rem;
}

footer a{
    font-size: 2rem;
}

banner{
    display: inline-flex;
    height: 30rem;
    background-image:
    url('https://as01.epimg.net/meristation/imagenes/2016/04/05/noticia/1459865760_217604_1532360445_sumario_normal.jpg');
    background-position: center;
    background-repeat: repeat-x;
    background-size:cover;
    font-size: 4rem;
}

#reset{
    font-size: 1rem;
}

#player{
    font-size: 2rem;
}

button{
    font-size: 4rem;
    max-width: 5.5rem;
}

#ganador{
    font-size: 4rem;
    display: flex;
    justify-content: center;
    background-color: white;
}

#gamezone{
    display: inline-flex;
}